@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@font-face {
    font-family: 'matura';
    src: url('MATURASC_1.TTF') format('truetype')
}

@font-face {
    font-family: 'edwardian';
    src: url('edwardianscriptitc.ttf') format('truetype') ;
}

h1{
    font-family: 'edwardian';
    font-size: 64px;
    line-height: 50%;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
}

#parchment {
    background: url('background.png') no-repeat center center / cover;
    height: 700px;
    width: 750px;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#validate-password{
    font-size: 14px;
    padding: 6px 16px;
    background-color: white;
    font-family: 'matura';
}

#parchment p{
    font-family: 'matura';
}

#steps{
    font-family: 'matura';
    font-size: 16px;
    line-height: 175%;
}

td input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
}

td {
    background-color: #D2BD96;
    border: 1px solid #FFFFFF;
    width: 25px;
    height: 25px;
}

td.empty {
    border: none;
    background: none;
}

#secret{
    margin-top: 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 8px;
}